.underline {
    color: inherit;
    text-decoration: inherit;
  }
  a {
    text-decoration: none;
  }
  
  .menu-bar {
    display: none;
  }
  
  div.links-container li.links {
    font-size: 25px;
    padding-top: 20px;
    /* margin: 0 auto; */
  }
  
  .links-container {
  
    display: flex;
    text-decoration: none !important;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    margin-top: 150px;
  }
  
  .links-container li {
    text-decoration: none !important;
    margin: 0 25px;
    z-index: 50;
  }
  @media (min-width: 1024px) {
    .nav-ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      width: 100vw;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .menu-bar {
      display: flex;
      padding: 0;
      margin: 0;
      height: 15vh;
      justify-content: space-between;
      z-index: 100;
    }
  
    .links-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 15vh;
      /* width: 120vw; */
      padding-bottom: 0;
      margin: 0;
      /* padding-right: 20px; */
      text-decoration: none !important;
    }
    img.center-logo{
      display: flex;
    }
  }
  